.bottom-bar {
  position: fixed;
  bottom: 0;
  display: grid;
  grid-auto-flow: column;
  width: 100%;
  height: 50px;
  background-color: #333;
  color: white;
  place-items: center;
  a {
    color: inherit;
    text-decoration: none;
  }
  .bottom-bar__item {
    text-transform: capitalize;
    padding: 8px;
  }
}